table thead tr {
    background-color: #464646 !important;
    color: white !important;
}

.float-right {
    float: right;
}

.margin-left-15 {
    margin-left: 15px;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}